:root{
    --light-gray: #f0f0f0;
}

nav{
    background-color: var(--light-gray);
}

.top-nav{
    height: 3em;
}

#logo{
    height: 105px;
    width: 105px;
    position: relative;
    top: -2em;
}

.logo-div{
    height: 3em;
    z-index: 1000;
    background-color: #fff;
}

nav h1{
    height: 2em;
}

