:root{
    --light-gray: #f0f0f0;
}

nav{
    background-color: var(--light-gray);
}

.top-nav{
    height: 3em;
}

#logo{
    height: 105px;
    width: 105px;
    position: relative;
    top: -2em;
}

.logo-div{
    height: 3em;
    z-index: 1000;
    background-color: #fff;
}

nav h1{
    height: 2em;
}

.design {
    background-color: #E6563B;
    /*width: 50px;*/
    /*height: 50px;*/

}

.develop {
    background-color: #DEA03D;
    margin-left: auto;
}

.support {
    background-color: #7CB06C;

}

.host {
    background-color: #00ABA9;
    margin-left: auto;
}

.button-row {
    width: 8em;
    height: 8em;

}

span {
    border-radius: 50%;
    display: inline-block;
}